@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Serif+JP&display=swap');
*{
    font-family: "Noto Sans JP";
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    width: 100vw;
    height: 100vh;
}

header{
    width: calc(100vw - 20px);
    height: 60px;
    padding: 5px 10px;
    box-shadow: 0 0 10px rgba(0 0 0 / .5);
}

.wrap{
    padding: 10px 20px 10px 10px;
}

button{
    margin: 10px;
    padding: 5px 10px;
    background-color: #aca5ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3 ease;
}
button:hover{
    background-color: #bcb5ff;
    box-shadow: 0 0 5px rgba(0 0 0 / .5);
}